# Exercises
- Within your codeup-data-science directory, create a new repo named spark-exercises. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.

- Save this work in your spark-exercises repo. Then add, commit, and push your changes.

- Create a jupyter notebook or python script named spark101 for this exercise.

1. Create a spark data frame that contains your favorite programming languages.

- The name of the column should be language
- View the schema of the dataframe
- Output the shape of the dataframe
- Show the first 5 records in the dataframe

2. Load the mpg dataset as a spark dataframe.

    a. Create 1 column of output that contains a message like the one below:

    b. Transform the trans column so that it only contains either manual or auto.

3. Load the tips dataset as a spark dataframe.

    a. What percentage of observations are smokers?
    b. Create a column that contains the tip percentage
    c. Calculate the average tip percentage for each combination of sex and smoker.

    
4. Use the seattle weather dataset referenced in the lesson to answer the questions below.

    - Convert the temperatures to fahrenheit.
    - Which month has the most rain, on average?
    - Which year was the windiest?
    - What is the most frequent type of weather in January?
    - What is the average high and low temperature on sunny days in July in 2013 and 2014?
    - What percentage of days were rainy in q3 of 2015?
    - For each year, find what percentage of days it rained (had non-zero precipitation).

# Imports

In [57]:
import pyspark
import pandas as pd
import numpy as np
from pydataset import data
from vega_datasets import data
from pyspark.sql.functions import *
from pyspark.sql.functions import sum, mean, concat, lit, regexp_extract, regexp_replace, when, month, year, quarter, asc, desc, col, expr

In [2]:
# 1. Create a spark data frame that contains your favorite programming languages.

# - The name of the column should be language
# - View the schema of the dataframe
# - Output the shape of the dataframe
# - Show the first 5 records in the dataframe

In [3]:
# We'll begin by creating the spark session:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [4]:
#creating pandas dataframe
np.random.seed(456)

pandas_dataframe = pd.DataFrame(
    dict(language= ['python', 'javascript', 'c++', 'java', 'ruby', 'c#', 'go', 'html'])
)
pandas_dataframe

     language
0      python
1  javascript
2         c++
3        java
4        ruby
5          c#
6          go
7        html

In [5]:
#change pandas dataframe into a spark dataframe
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[language: string]

In [20]:
# View the schema of the dataframe
df.printSchema()

root
 |-- language: string (nullable = true)

In [7]:
# Output the shape of the dataframe
print((df.count(), len(df.columns)))

(8, 1)

In [8]:
#Show the first 5 records in the dataframe

df.show(5)

+----------+
|  language|
+----------+
|    python|
|javascript|
|       c++|
|      java|
|      ruby|
+----------+
only showing top 5 rows

In [9]:
# 2. Load the mpg dataset as a spark dataframe.

#     a. Create 1 column of output that contains a message like the one below:

#     b. Transform the trans column so that it only contains either manual or auto.

In [10]:
# a. Create 1 column of output that contains a message like the one below:
# Load the mpg dataset as a spark dataframe.
mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [11]:
# Create 1 column of output that contains a message like the one below:

In [12]:
#creating variable
summary = concat(lit('The '), mpg.year, lit(' '), mpg.manufacturer, lit(' '), mpg.model, lit(' has a '), mpg.cyl, lit(' cylinder engine'))

In [13]:
#creating column
mpg =mpg.select('*', summary.alias('summary'))

In [14]:
#Looking at dataframe
mpg.show()

+------------+------------------+-----+----+---+----------+---+---+---+---+-------+--------------------+
|manufacturer|             model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|             summary|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+--------------------+
|        audi|                a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|The 1999 audi a4 ...|
|        audi|                a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|The 1999 audi a4 ...|
|        audi|                a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|The 2008 audi a4 ...|
|        audi|                a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|The 2008 audi a4 ...|
|        audi|                a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|The 1999 audi a4 ...|
|        audi|                a4|  2.8|1999|  6|manual(m5)|  f| 18| 26|  p|compact|The 1999 audi a4 ...|
|        audi|                a4|  3.1|2008|  6|  auto(av)|  f| 18| 27|  p|compact|The 2008 audi a4 ...|
|        audi|        a4 quattro|  1.8|1999|  4|manual(m5)|  4| 18| 26|  p|compact|The 1999 audi a4 ...|
|        audi|        a4 quattro|  1.8|1999|  4|  auto(l5)|  4| 16| 25|  p|compact|The 1999 audi a4 ...|
|        audi|        a4 quattro|  2.0|2008|  4|manual(m6)|  4| 20| 28|  p|compact|The 2008 audi a4 ...|
|        audi|        a4 quattro|  2.0|2008|  4|  auto(s6)|  4| 19| 27|  p|compact|The 2008 audi a4 ...|
|        audi|        a4 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 25|  p|compact|The 1999 audi a4 ...|
|        audi|        a4 quattro|  2.8|1999|  6|manual(m5)|  4| 17| 25|  p|compact|The 1999 audi a4 ...|
|        audi|        a4 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|compact|The 2008 audi a4 ...|
|        audi|        a4 quattro|  3.1|2008|  6|manual(m6)|  4| 15| 25|  p|compact|The 2008 audi a4 ...|
|        audi|        a6 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 24|  p|midsize|The 1999 audi a6 ...|
|        audi|        a6 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|midsize|The 2008 audi a6 ...|
|        audi|        a6 quattro|  4.2|2008|  8|  auto(s6)|  4| 16| 23|  p|midsize|The 2008 audi a6 ...|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 14| 20|  r|    suv|The 2008 chevrole...|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 11| 15|  e|    suv|The 2008 chevrole...|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+--------------------+
only showing top 20 rows

In [17]:
#Looking summary column only
mpg.select('summary').show(truncate= False)

+-------------------------------------------------------------+
|summary                                                      |
+-------------------------------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine                     |
|The 1999 audi a4 has a 4 cylinder engine                     |
|The 2008 audi a4 has a 4 cylinder engine                     |
|The 2008 audi a4 has a 4 cylinder engine                     |
|The 1999 audi a4 has a 6 cylinder engine                     |
|The 1999 audi a4 has a 6 cylinder engine                     |
|The 2008 audi a4 has a 6 cylinder engine                     |
|The 1999 audi a4 quattro has a 4 cylinder engine             |
|The 1999 audi a4 quattro has a 4 cylinder engine             |
|The 2008 audi a4 quattro has a 4 cylinder engine             |
|The 2008 audi a4 quattro has a 4 cylinder engine             |
|The 1999 audi a4 quattro has a 6 cylinder engine             |
|The 1999 audi a4 quattro has a 6 cylinder engine             |
|The 2008 audi a4 quattro has a 6 cylinder engine             |
|The 2008 audi a4 quattro has a 6 cylinder engine             |
|The 1999 audi a6 quattro has a 6 cylinder engine             |
|The 2008 audi a6 quattro has a 6 cylinder engine             |
|The 2008 audi a6 quattro has a 8 cylinder engine             |
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine|
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine|
+-------------------------------------------------------------+
only showing top 20 rows

In [19]:
#  b. Transform the trans column so that it only contains either manual or auto.
#Looking unique values in trans column
mpg.select('trans').distinct().show()

+----------+
|     trans|
+----------+
|  auto(l4)|
|manual(m6)|
|  auto(s6)|
|  auto(l5)|
|manual(m5)|
|  auto(l6)|
|  auto(av)|
|  auto(s5)|
|  auto(l3)|
|  auto(s4)|
+----------+

In [23]:
#Looking at first 5 values
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+--------------------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|             summary|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+--------------------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|The 1999 audi a4 ...|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|The 1999 audi a4 ...|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|The 2008 audi a4 ...|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|The 2008 audi a4 ...|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|The 1999 audi a4 ...|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+--------------------+
only showing top 5 rows

In [26]:
#Transforming the trans column
new_mpg_df= mpg.select('manufacturer', 'model', 'displ', 'cyl', regexp_extract("trans", r"^(\w+)", 1).alias("trans"), 'drv', 'hwy', 'fl', 'class', 'summary')

In [27]:
#Verify trans column was transformed to manual and auto only
new_mpg_df.show()

+------------+------------------+-----+---+------+---+---+---+-------+--------------------+
|manufacturer|             model|displ|cyl| trans|drv|hwy| fl|  class|             summary|
+------------+------------------+-----+---+------+---+---+---+-------+--------------------+
|        audi|                a4|  1.8|  4|  auto|  f| 29|  p|compact|The 1999 audi a4 ...|
|        audi|                a4|  1.8|  4|manual|  f| 29|  p|compact|The 1999 audi a4 ...|
|        audi|                a4|  2.0|  4|manual|  f| 31|  p|compact|The 2008 audi a4 ...|
|        audi|                a4|  2.0|  4|  auto|  f| 30|  p|compact|The 2008 audi a4 ...|
|        audi|                a4|  2.8|  6|  auto|  f| 26|  p|compact|The 1999 audi a4 ...|
|        audi|                a4|  2.8|  6|manual|  f| 26|  p|compact|The 1999 audi a4 ...|
|        audi|                a4|  3.1|  6|  auto|  f| 27|  p|compact|The 2008 audi a4 ...|
|        audi|        a4 quattro|  1.8|  4|manual|  4| 26|  p|compact|The 1999 audi a4 ...|
|        audi|        a4 quattro|  1.8|  4|  auto|  4| 25|  p|compact|The 1999 audi a4 ...|
|        audi|        a4 quattro|  2.0|  4|manual|  4| 28|  p|compact|The 2008 audi a4 ...|
|        audi|        a4 quattro|  2.0|  4|  auto|  4| 27|  p|compact|The 2008 audi a4 ...|
|        audi|        a4 quattro|  2.8|  6|  auto|  4| 25|  p|compact|The 1999 audi a4 ...|
|        audi|        a4 quattro|  2.8|  6|manual|  4| 25|  p|compact|The 1999 audi a4 ...|
|        audi|        a4 quattro|  3.1|  6|  auto|  4| 25|  p|compact|The 2008 audi a4 ...|
|        audi|        a4 quattro|  3.1|  6|manual|  4| 25|  p|compact|The 2008 audi a4 ...|
|        audi|        a6 quattro|  2.8|  6|  auto|  4| 24|  p|midsize|The 1999 audi a6 ...|
|        audi|        a6 quattro|  3.1|  6|  auto|  4| 25|  p|midsize|The 2008 audi a6 ...|
|        audi|        a6 quattro|  4.2|  8|  auto|  4| 23|  p|midsize|The 2008 audi a6 ...|
|   chevrolet|c1500 suburban 2wd|  5.3|  8|  auto|  r| 20|  r|    suv|The 2008 chevrole...|
|   chevrolet|c1500 suburban 2wd|  5.3|  8|  auto|  r| 15|  e|    suv|The 2008 chevrole...|
+------------+------------------+-----+---+------+---+---+---+-------+--------------------+
only showing top 20 rows

In [17]:
# 3. Load the tips dataset as a spark dataframe.

#     a. What percentage of observations are smokers?
#     b. Create a column that contains the tip percentage
#     c. Calculate the average tip percentage for each combination of sex and smoker.

In [30]:
# Load the tips dataset as a spark dataframe.
tips = spark.createDataFrame(data("tips"))
tips.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [54]:
# a. What percentage of observations are smokers?
tips.groupBy("smoker").count().show()

+------+-----+
|smoker|count|
+------+-----+
|    No|  151|
|   Yes|   93|
+------+-----+

In [58]:
tips.groupBy("smoker").count().withColumn(
    "percent",
    concat(round((col("count") / tips.count() * 100), 0).cast("int"), lit("%")),
).show()

+------+-----+-------+
|smoker|count|percent|
+------+-----+-------+
|    No|  151|    62%|
|   Yes|   93|    38%|
+------+-----+-------+

Note: .withColumn() creates a new column

In [56]:
#create tip percentage column
tips.withColumn("tip_percentage", col('tip') / col('total_bill')).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|     tip_percentage|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|0.18623962040332148|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|0.14180374361883155|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

In [ ]:
# c. Calculate the average tip percentage for each combination of sex and smoker.

In [59]:
(
    tips.withColumn("tip_percentage", col('tip') / col('total_bill'))
    .groupby("sex")
    .pivot("smoker")
    .agg(round(mean("tip_percentage"), 4))
    .show()
)

+------+------+------+
|   sex|    No|   Yes|
+------+------+------+
|Female|0.1569|0.1822|
|  Male|0.1607|0.1528|
+------+------+------+

In [ ]:
# 4. Use the seattle weather dataset referenced in the lesson to answer the questions below.

#     - Convert the temperatures to fahrenheit.
#     - Which month has the most rain, on average?
#     - Which year was the windiest?
#     - What is the most frequent type of weather in January?
#     - What is the average high and low temperature on sunny days in July in 2013 and 2014?
#     - What percentage of days were rainy in q3 of 2015?
#     - For each year, find what percentage of days it rained (had non-zero precipitation).

In [60]:
# Use the seattle weather dataset referenced in the lesson to answer the questions below.

weather = data.seattle_weather().assign(date=lambda df: df.date.astype(str))
weather = spark.createDataFrame(weather)
weather.show(6)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|
|2012-01-06|          2.5|     4.4|     2.2| 2.2|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 6 rows

In [61]:
# Convert the temperatures to fahrenheit.

In [62]:
# pandas equivalent -- df.temp_max = df.temp_max * 9 / 5 + 32

weather = weather.withColumn(
    "temp_max", (col("temp_max") * 9 / 5 + 32)
).withColumn("temp_min", (col("temp_min") * 9 / 5 + 32))

In [64]:
#Looking at first 5 values
weather.show(5)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|   55.04|    41.0| 4.7|drizzle|
|2012-01-02|         10.9|   51.08|   37.04| 4.5|   rain|
|2012-01-03|          0.8|   53.06|   44.96| 2.3|   rain|
|2012-01-04|         20.3|   53.96|   42.08| 4.7|   rain|
|2012-01-05|          1.3|   48.02|   37.04| 6.1|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 5 rows

In [ ]:
# Which month has the most rain, on average?

In [65]:
row = (
    weather.withColumn("month", month("date"))
    .withColumn("year", year("date"))
    .groupBy("month", "year")
    .agg(sum("precipitation").alias("total_monthly_precipitation"))
    .groupBy("month")
    .agg(mean("total_monthly_precipitation").alias("avg_monthly_rain"))
    .sort(col("avg_monthly_rain").desc())
    .first()
)
row

Row(month=11, avg_monthly_rain=160.625)

In [72]:
# To read documentation on row function
row?

Signature:      row(*args)
Type:           Row
String form:    Row(month=11, avg_monthly_rain=160.625)
Length:         2
File:           /opt/homebrew/anaconda3/lib/python3.8/site-packages/pyspark/sql/types.py
Docstring:
A row in :class:`DataFrame`.
The fields in it can be accessed:

* like attributes (``row.key``)
* like dictionary values (``row[key]``)

``key in row`` will search through row keys.

Row can be used to create a row object by using named arguments.
It is not allowed to omit a named argument to represent that the value is
None or missing. This should be explicitly set to None in this case.

.. versionchanged:: 3.0.0
    Rows created from named arguments no longer have
    field names sorted alphabetically and will be ordered in the position as
    entered.

Examples
--------
>>> row = Row(name="Alice", age=11)
>>> row
Row(name='Alice', age=11)
>>> row['name'], row['age']
('Alice', 11)
>>> row.name, row.age
('Alice', 11)
>>> 'name' in row
True
>>> 'wrong_key' in row
False

Row also can be used to create another Row like class, then it
could be used to create Row objects, such as

>>> Person = Row("name", "age")
>>> Person
<Row('name', 'age')>
>>> 'name' in Person
True
>>> 'wrong_key' in Person
False
>>> Person("Alice", 11)
Row(name='Alice', age=11)

This form can also be used to create rows as tuple values, i.e. with unnamed
fields.

>>> row1 = Row("Alice", 11)
>>> row2 = Row(name="Alice", age=11)
>>> row1 == row2
True
Call docstring: create new Row object

In [ ]:
# Which year was the windiest?

In [73]:
(
    weather.withColumn("month", month("date"))
    .filter(col("month") == 1)
    .groupBy("weather")
    .count()
    .sort(col("count").desc())
    .head(5)
)

[Row(weather='fog', count=38),
 Row(weather='rain', count=35),
 Row(weather='sun', count=33),
 Row(weather='drizzle', count=10),
 Row(weather='snow', count=8)]

In [ ]:
# What is the most frequent type of weather in January?

In [67]:
#Looking at values
weather.show(5)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|   55.04|    41.0| 4.7|drizzle|
|2012-01-02|         10.9|   51.08|   37.04| 4.5|   rain|
|2012-01-03|          0.8|   53.06|   44.96| 2.3|   rain|
|2012-01-04|         20.3|   53.96|   42.08| 4.7|   rain|
|2012-01-05|          1.3|   48.02|   37.04| 6.1|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 5 rows

In [68]:
(
    weather.withColumn("month", month("date"))
    .filter(col("month") == 1)
    .groupBy("weather")
    .count()
    .sort(col("count").desc())
    .show()
)

+-------+-----+
|weather|count|
+-------+-----+
|    fog|   38|
|   rain|   35|
|    sun|   33|
|drizzle|   10|
|   snow|    8|
+-------+-----+

In [ ]:
# What is the average high and low temperature on sunny days in July in 2013 and 2014?

In [69]:

(
    weather.filter(month("date") == 7)
    .filter(year("date") > 2012)
    .filter(year("date") < 2015)
    .filter(col("weather") == lit("sun"))
    .agg(
        avg("temp_max").alias("average_high_temp"),
        avg("temp_min").alias("average_low_temp"),
    )
    .show()
)

+-----------------+-----------------+
|average_high_temp| average_low_temp|
+-----------------+-----------------+
|80.29192307692308|57.52884615384615|
+-----------------+-----------------+

In [70]:
# What percentage of days were rainy in q3 of 2015?

# in pandas -- (df.weather == "rain").mean()
# measure a rainy day by weather == rain
(
    weather.filter(year("date") == 2015)
    .filter(quarter("date") == 3)
    .select(when(col("weather") == "rain", 1).otherwise(0).alias("rain"))
    .agg(mean("rain"))
    .show()
)

+--------------------+
|           avg(rain)|
+--------------------+
|0.021739130434782608|
+--------------------+

In [ ]:
#For each year, find what percentage of days it rained (had non-zero precipitation)

In [71]:
# measure a rainy day by precipitation > 0
(
    weather.withColumn("year", year("date"))
    .select(when(col("precipitation") > 0, 1).otherwise(0).alias("rain"), "year")
    .groupby("year")
    .agg(mean("rain"))
    .show()
)

+----+-------------------+
|year|          avg(rain)|
+----+-------------------+
|2015|0.39452054794520547|
|2013|0.41643835616438357|
|2014|  0.410958904109589|
|2012|0.48360655737704916|
+----+-------------------+

Note: measure a rainy day by precipitation > 0